<div id="header">
  <i
    class="fa-solid fa-bars"
    style="margin-left: 20px"
    (click)="hamburger()"
  ></i>
  <div id="child1">
    <!-- <div class="dropdown">
      <i
        id="i"
        class="fa-solid fa-bell position-relative"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <span
          class="position-absolute top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle"
        >
          <span class="visually-hidden">New alerts</span>
        </span></i
      >

      <ul class="dropdown-menu">
        <li>
          <div class="notify">
            <p>notification1</p>
            <span
              ><button class="btn" style="padding: 2px">
                <i class="fa-regular fa-eye"></i></button
            ></span>
          </div>
        </li>
        <li>
          <div class="notify">
            <p>notification3</p>
            <span
              ><button class="btn" style="padding: 2px">
                <i class="fa-regular fa-eye"></i></button
            ></span>
          </div>
        </li>
        <li>
          <div class="notify">
            <p>notification2</p>
            <span
              ><button class="btn" style="padding: 2px">
                <i class="fa-regular fa-eye"></i></button
            ></span>
          </div>
        </li>
      </ul>
    </div> -->

    <!-- <div class="dropdown">
      <img
        src=""
        alt="admin"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      />

      <ul class="dropdown-menu">
        <li>
          <button class="btn" style="border-style: hidden">
            <i class="fa-solid fa-user"></i><span>profile</span>
          </button>
        </li>
        <li>
          <button class="btn" style="border-style: hidden" (click)="logout()">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
            <span>Logout</span>
          </button>
        </li>
      </ul>
    </div> -->
  </div>
</div>
