/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
  }
  .parent {
    display: flex;
    height: 100vh;
    width: 100%;
  }
  .childleft {
    width: 267px;
  }
  .childright {
    position: relative;
    margin-left: 5px;
    width: calc(100vw - 210px);
    transition: all 0.5s ease;
  }
  .content {
    height: calc(100vh - 109px);
    overflow-y: auto;
    width: 100%;
    background-color: #d7d8df82;
    padding: 15px;
  }
  .header {
    position: sticky;
    height: 53px;
  }
  .footer {
    height: 54px;
  }
  .parent.min .childleft {
    width: 75px;
  }
  .parent.min .childright {
    width: calc(100vw - 60px);
  }
  @media (max-width: 991px) {
    .parent .childright {
      width: calc(100vw - 75px);
    }
    .childleft {
      width: 75px;
    }
  }
  /* width */
  ::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: white;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #b9c1e9;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #7773a1;
  }
  