<footer class="page-footer px-xl-4 px-sm-2 px-0 py-3">
    <div class="container-fluid">
      <div class="row w-full">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-sm-center">
          {{ this.year }} © Property Listing.
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-sm-center">
          <div class="text-sm-end d-sm-block">
            Design & Develop by
            <a href="https://ymtsindia.com" target="_blank">Youngminds</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  